
/*Scroll Bar*/
/* Webkit browsers (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ECE4DA; /* track color */
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-dark); /* thumb color */
    border-radius: 8px;
    border: 2px solid #ECE4DA; /* creates padding effect around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #822F04;
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-dark) #ECE4DA;
}
/*Scroll Bar*/
.topbar {
/*    background: var(--light);*/
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-shadow: var(--shadow);
}
.topbar .container-2 a{
    color: var(--dark);
}
.side-bar {
/*    background: var(--primary);*/
    height: calc(100vh);
    padding: 15px;
}
.side-bar .nav-link{
    display: flex;
    gap: 10px;
    justify-content: start;
    padding: .4rem
}
.side-bar .logout-section{
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--light);
}
.burger-menu,
.close-menu {
    display: none;
}
@media (max-width: 768px) {

    .side-bar {
/*        display: none;*/
        position: absolute;
        width: 100%;
        height: calc(100vh - 40px);
        top: 40px;
    }

    .side-bar .logout-section {
        width: 95%;
    }

    .burger-menu {
        display: flex;
    }
}
input{
    color: unset;
}
/* Tailwind dark: variants won't apply inside here because
   we're resetting the context without the .dark ancestor */
[data-theme="light"],
[data-theme="light"] * {
    color-scheme: light;
}

/* Explicitly revert dark-mode background/text overrides */
.dark [data-theme="light"] {
    background-color: white;
    color: #111;
}

    .dark [data-theme="light"] * {
        --tw-bg-opacity: 1;
    }